<div class="col-xs-12 col-md-6 offset-md-3">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file, label: "Image of cocktail" %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "add a cocktail", class: "btn btn-primary" %>
  <% end %>
</div>
