<div class="cocktail-container col-xs-12 col-md-6 offset-md-3" >
  <div id="name-badge">
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="cocktail-info">
    <div class="cocktail-pic">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="cocktail-bio">
      <h2>Ingredients...</h2>
      <br>
      <% @cocktail.doses.each do |dose| %>
        <h3><%= "#{dose.description} #{dose.ingredient.name}"%></h3>
        <%= link_to 'Delete dose', dose_path(dose), method: :delete %>
      <% end %>
      <br>
    </div>
  </div>
  <div class="cocktail-links">
    <%= link_to 'All Cocktails', cocktails_path %>
    <%= " | " %>
    <%= link_to 'Add dose',  new_cocktail_dose_path(@cocktail) %>
    <%= " | " %>
    <%= link_to 'Delete Cocktail', cocktail_path(@cocktail), method: :delete %>
  </div>
</div>
